#Лабораторная работа 1. Питон. Быстрый старт

**Цель**

Начать программировать на Питон и освоить базовые понятия языка.

**Выполнение**

Работа выполняется в "родной" оболочке Питон (IDLE). Результатом аудиторной части работы является питон-файл с кодом, введенным в ходе работы. Код должен содержать все примеры и самостоятельные работы.

####Описание

Первая лабораторная работа полностью выполняется в командной оболочке Питон.

Запустите ***IDLE***. Для этого нажмите на Пуск, в списке программ найдите папку ***Python***, и из группы программ запустите ***IDLE (Python ...)***. На экране должно появиться окно оболочки Питон. Инструкции языка Питон вводятся в оболочку сразу после приглашения, которое состоит из трех стрелок вправо `>>>` после которых мигает курсор.

Можно начинать работу.

### Числа

Введите в IDLE Shell следующую инструкцию.

In [ ]:
googol = 10**100

Читаем написанное (слева направо)

* `googol` - это **объект** (пока будем говорить переменная)
* `=` - **оператор** присвоения
* `10` - числовой **литерал**
* `**` - **оператор** возведения в степень
* `100` - числовой **литерал**
* введена одна **инструкция**

Посмотрим, что получили

In [ ]:
print(googol)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Читаем написанное (слева направо)

* `print()` - это **встроенная функция** (скобки важны!)
* `googol` - в данном случае - **аргумент функции**
* на выходе - число со 100 нулями (сомневающиеся могут посчитать)
* введена одна **инструкция**

> **Важно**


---


Прежде чем двигаться дальше, начните сохранять введенный код. Для этого в меню IDLE выберите ***File-Save*** и дайте файлу имя по правилу ***'Фамилия (лабораторная 1, аудиторка)'***. После завершения аудиторной части лабораторной работы этот файл надо будет сдать преподавателю.

Пишем

In [ ]:
Большое_число = 1e100

Читаем написанное (только новое)

* `1e100` - числовой литерал (другая форма записи)

**Самостоятельно**

> Выведите на экран `Большое_число`

Введем целое число поменьше

In [ ]:
byte = 0b100000000

В данном случае справа числовой литерал записан в **двоичном формате**.

In [ ]:
print(byte)

256

По умолчанию числа выводятся в десятичном формате, независимо от того, в каком формате были введены.

Если хочется увидеть двоичный формат, вводим

In [ ]:
print(bin(byte))

0b100000000

Введенная инструкция показывает, что агрументом функции может быть **выражение**. В данном случае выражение - это вызов другой встроенной инструкции  - `bin`, которая возвращает двоичное представление числа.

**Самостоятельно**

> Получите двоичную форму `googol` в отдельную переменную. Имя новой переменной выберите сами.

Пишем

In [ ]:
a = 2

Вычислим $b = \sqrt{a}$.

In [ ]:
b = a**(1/2)

Извлечение квадратного корня произведено с помощью операции возведения в степень, потому что по умолчанию функции для извлечения корней в Питон нет.

**Самостоятельно**

> Введите последнюю инструкцию, убрав скобки. Посмотрите результат. Подумайте над **приоритетом операций**.

Произведем обратное действие.

In [ ]:
c = b**a

И выведем на экран все последние числа

In [ ]:
print(a, b, c)

2 1.4142135623730951 2.0000000000000004

В данном случае важно правильно прочесть результат. Точка и наличие дробной части в последнем числе не случайно. Дело в том, что `a` и `c` теперь имеют разный **тип данных**.

В Питон не надо заранее объявлять переменные и указывать их тип (как в Паскале, например), поскольку в Питон реализовано **динамическое определение типов**.

Тип данных всегда можно посмотреть.

In [ ]:
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'float'>

Встроенная функция `type` возвращает тип переменной (слово `class` - очень важно, но об этом позже).

В нашем расчете в результате ввода `a = 2` переменная `a` относится к целому типу данных. Результат извлечения корня `b` - к дробным (`float`). Выражение с использованием дробных чисел дает также дробный результат, хотя и близкий к целому значению.

**Самостоятельно**

> Выполните расчет, аналогичный предыдущему, но сделав `a` отрицательным. Выведите тип результата.

###Строки

Введите инструкцию

In [ ]:
Google = 'Google'

В инструкции выше:

* `Google` слева - имя переменной
* `'Google'` справа - **строковый литерал** (кавычки важны!)

Введем еще одну строковую переменную.

In [ ]:
Type = 'LLC'

И произведем операцию сложения строк.

In [ ]:
Full_Name = Google + ' ' + Type

In [ ]:
print(Full_Name)

Google LLC

Выполненные инструкции иллюстируют понятие **полиморфизма операций** в Питон. Полиморфизм операций состоит в том, что одна и та же операция (в данном случае - сложение), применяется к разным типам данных.

**Самостоятельно**

> Введите строковую переменную, содержащую ваше имя и фамилию (по-русски).

С точки зрения языка Питон, строки являются **последовательностями** символов, причем последовательностями **упорядочеными**. К упорядоченым последовательностям в Питон можно обращаться по номерам. Это иллюстрируют следующие инструкции.

In [ ]:
print(Google[0])

G

Нумерация **элементов в последовательностях** в Питон идет с нуля (доступ по смещению). Поэтому последний элемент в переменной `Google` будет иметь номер 5, т.е. отстоять на пять шагов от начального.

In [ ]:
print(Google[5])

e

Для определения длины последовательностей существует специальная функция.

In [ ]:
print(len(Google))

6

**Самостоятельно**

> Определите длину вашего имени в символах.

Поскольку строки - это упорядоченные последовательности, то по ним можно "пройтись" **счетным циклом** `for`.

In [ ]:
for symbol in Google: print(symbol)

G
o
o
g
l
e

Читаем последнюю инструкцию:

* `for` - **ключевое слово**
* `symbol` - имя переменной, в которую один за другим будут извлекаться элементы последовательности (в данном случае - символы строки). Имя `symbol` - произвольно, можно написать и `x`.
* `in` - еще одно ключевое слово
* `Google` - имя последовательности, из которой будут извлекаться элементы
* `:` - двоеточие открывает **составную инструкцию**
* `print(symbol)` - инструкция, выполняемая внутри цикла.

Поскольку внутри введенного нами цикла выполяется только одна инструкция, то она записана в одну строку с **заголовом цикла**. Заголовок цикла это `for symbol in Google:`

Усложним наш цикл, чтобы проиллюстрировать и упорядоченные последовательности и составную инструкцию.

Перед повторным вводом инструкции с циклом, введем переменную, которая будет играть роль счетчика

In [ ]:
i = 0

Теперь введем наш цикл повторно

In [ ]:
for symbol in Google:
  print(symbol, ' номер:', i)
  i = i+1

G  номер: 0
o  номер: 1
o  номер: 2
g  номер: 3
l  номер: 4
e  номер: 5

Теперь составная инструкция нашего цикла состоит из двух инструкций: в первой производится печать, во второй счетчик увеличивается на единицу. **Составная инструкция создается с помощью отступа**.

Здесь важно запомнить, что переменная `i` не играет никакой роли с точки зрения выполнения цикла: **цикл идет не по индексу, а по элементам последовательности**.

**Самостоятельно**

> Выведите строковую переменную с вашим именем вертикально.

Строки относятся к неизменямым последовательностям. Т.е. нельзя записать.

In [ ]:
Google[0] = 'A'

TypeError: ignored

###Списки

Соберем все наши числа в одну последовательность

In [ ]:
R = [googol, byte, Большое_число, a, b, c]

Мы ввели **список**. Списки вводятся в квадратных скобках, а их элементы разделяются запятыми. Не обязательно, конечно, вводить элементы через имена переменных, можно просто числа.

**Самостоятельно**

> Сформируйте список `S`, содержащий все строки, которые мы ввели ранее

Списки: **упорядочены**, **изменяемы**, **гетерогенны**.

С первым свойством мы уже знакомы по строкам. Проиллюстрируем второе

In [ ]:
R[5] = 2

В последней инструкции мы заменили последний элемент спиcка R, где хранилось значение `c`. Теперь там хранится целое значение 2, взамен дробного.

Список `R` хотя и хранит только числа, но относятся они к разным типам. Это и есть гетерогенность списков - они позволяют хранить данные разных типов. Можно добавить и строки.

Если мы мопробуем добавить элемент в список путем сложения, то получим ошибку.

In [ ]:
R = R + Google

TypeError: ignored

Попробуем иначе

In [ ]:
R = R + [Google]

In [ ]:
print(R)

[10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, 256, 1e+100, 2, 1.4142135623730951, 2, 'Google']

Удалить элемент из списка таким образом (путем вычитания) не получится, поскольку операция вычитания для списков не определена.

Если элементом списка является упорядоченная последовательность, то можно получить доступ к элементу этой последовательности. Например, чтобы получить доступ к последему символу строки `Google`, которая сейчас находится в последнем элементе списка `R`, можно записать

In [ ]:
print(R[6][5])

e

**Самостоятельно**

> Выведите на экран первый символ последнего элемента списка `S`

###Итог работы

Сохрание файл работы в оболочке с именем ***'Фамилия (лабораторная 1, аудиторка)'***

По ссылке

https://drive.google.com/drive/folders/11FMPJOTj8cTqxha0GxGaNBe2Mkq8LM8E?usp=sharing

находится папка для лабораторных работ. Зайдите в папку вашей группы и выгрузите ваш файл.

###Домашка

Читаем


---



* [Лутц М. Изучаем Python, 3-е издание – Пер. с англ. – СПб.: Символ-Плюс, 2009.](https://disk.yandex.ru/i/VR9elefyR0Ig8Q) - минимум до страницы 123, лучше - главы I и II.

Пишем


---

####Вариант 1

Возьмите номер своей зачетной книжки. Выполните в оболочке IDLE следующие действия:

1. Введите переменную, равную номеру зачетной книжки как строку

2. С помощью введенной переменной сформируйте список, в котором элеменами являются все цифры шифра, следующие друг за другом. Цифры должны храниться в списке в целом формате.

3. Посчитайте сумму всех цифр шифра

4. Получите двоичное представление шифра как целого числа.

5. Определите число байт, необходимых для хранения шифра как целого числа.


Полученный файл выгрузите в ту же папку, куда выгружали аудиторку. Имя файла ***'Фамилия (лабораторная 1, домашка)'***

####Вариант 2

Посчитайте разницу между `googol` и `Большое_число`. Проверьте условие равенства этих чисел (оператор `==`). Подумайте над результатом.